version: 1
disable_existing_loggers: False

formatters: 
    simple: 
        format: "%(levelname)s - %(name)s - %(message)s"
    detailed: 
        format: "%(asctime)s - %(levelname)s - %(name)s - %(thread)d - %(funcName)s - %(lineno)d - %(message)s"
        datefmt: "%Y-%m-%dT%H:%M:%S%z" #ISO 8601

handlers:
    console:
        class: logging.StreamHandler
        formatter: simple
        level: INFO
        stream: ext://sys.stdout
    file: 
        class: logging.handlers.RotatingFileHandler
        level: DEBUG
        formatter: detailed
        filename: logs/app.log 
        maxBytes: 1048576
        backupCount: 3
        encoding: utf-8

root: 
    level: DEBUG
    handlers: [console, file]